{{>adminSidebar}}
{{>adminHeader}}


<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories... </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">

                    <form action="/admin/editCategory/{{category._id}}" method="post">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Category Name</label>
                            <input type="text" name="category" placeholder="Type here" class="form-control"
                                id="product_name" value="{{category.category}}" />
                        </div>
                        <div class="mb-4">
                            <label for="discount" class="form-label">Discount</label>
                            <input name="discount" type="text" placeholder="Type here" class="form-control"
                                id="product_slug" value="{{category.discount}}" />
                        </div>

                        <div class="d-grid">
                            {{!-- <input type="submit"> --}}
                            <button type="submit" style="color:#ffff;" class="btn btn-primary"> Update Category</button>
                        </div>
                    </form>


                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">

                                    </th>

                                    <th>Category Name</th>
                                    {{!-- <th>Description</th> --}}
                                    <th>Discount</th>

                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each cat}}
                                <tr>
                                    <td class="text-center">

                                    </td>

                                    <td><b>{{this.category}}</b></td>
                                    {{!-- <td>Men clothes</td> --}}
                                    <td>{{this.discount}}</td>

                                    <td class="text-end">
                                        <div class="dropdown">
                                            <a style="width:85px" class="btn btn-warning">Edit</a>

                                        </div> <!-- dropdown //end -->
                                        <div class="dropdown">
                                            <a href="/admin/deleteCategory/{{this._id}}"
                                                onclick="return confirm ('are you sure want to delete {{this.category}}')"
                                                style="width:85px" class="btn btn-danger">Delete</a>

                                        </div> <!-- dropdown //end -->
                                    </td>
                                </tr>
                                {{/each}}
                                {{!-- --}}
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->

</main>