{{!-- <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre> --}}

{{!-- <div class="error-content text-center" style="background-image: url(/assets/userAssets/images/backgrounds/error-bg.jpg)">
            	<div class="container">
            		<h1 class="error-title">Error 404</h1><!-- End .error-title -->
            		<p>We are sorry, the page you've requested is not available.</p> --}}
                <h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
            		{{!-- <a href="l" class="btn btn-outline-primary-2 btn-minwidth-lg">
            			<span>BACK TO HOMEPAGE</span>
            			<i class="icon-long-arrow-right"></i>
            		</a>
            	</div><!-- End .container -->
        	</div><!-- End .error-content text-center -->
        </main><!-- End .main --> --}}
