

{{>userHeader}}

<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link border border-primary" href="/userProfile">Profile</a>
  <a class="nav-item nav-link border border-primary" href="/myAddress">My Address</a>
  <a class="nav-item nav-link border border-primary" href="/orders">Myorders</a>

     
</nav>

<body>
  <div class="site-wrap">

    <div class="container rounded bg-white" style="margin-top: 3%;">

      <div class="row" style="background-color:white">
        <div class="col-md-6">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
              width="150px"
              src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
              class="font-weight-bold">{{user.name}}</span><span class="text-black-50">{{user.email}}</span><span>
            </span></div>
          {{!-- <label style="padding-left: 25%;" for="ref">REFERAL CODE</label>
          <input style="width: 50%;margin-left: 25%;" id="ref" class="form-control  text-center "
            value={{detail.referal}}> --}}
        </div>
        <div class="col-md-6">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Profile Settings</h4>
            </div>
            <form id="updateuser">
              <div class="">
                <div class=""><label class="labels">Name</label>
                  <input type="text" class="form-control" name="name" placeholder="first name" value={{user.name}}>
                </div>
              </div>
              <div class="">
                <div class=""><label class="labels">Mobile Number</label>
                  <input type="text" name="mobile" class="form-control" placeholder="enter phone number"
                    value={{user.mobile}}>
                </div>
              </div>
              <div class="">
                <div class=""><label class="labels">Email ID</label>
                  <input type="text" name="email" class="form-control" placeholder="enter email id"
                    value={{user.email}}>
                </div>
              </div>
              <input style="width:100px;height:30px;font-size:small" type="submit" class="btn btn-primary mt-4 "
                value="update">
            </form>
            <button type="button" style="width:180px;height:30px;font-size:small" class="btn btn-primary mt-2"
              data-bs-toggle="modal" data-bs-target="#exampleModal">
              Change password
            </button>
            <div class="row ">

              <!-- Button trigger modal -->
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Change password</h5>
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                        aria-label="Close">X</button>
                    </div>
                    <form method="post" action="/changePassword" id="changepassword">
                      <div class="modal-body m-4">
                        <input type="text" name="password" id="inputPassword5" class="form-control "
                          aria-describedby="passwordHelpBlock" placeholder="Enter the current password">

                        <input type="text" name="newpassword" id="inputPassword5" class="form-control mt-4"
                          aria-describedby="passwordHelpBlock" placeholder="Enter the new password">
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                          <input type="submit" class="btn btn-primary" value="update">
                        </div>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
  <script>
    $('#updateuser').submit((e) => {
      e.preventDefault()
      $.ajax({
        url: '/updateuser',
        type: 'post',
        data: $('#updateuser').serialize(),
        success: (response) => {
          location.reload()
        }
      })
    })

  </script>
